body{
			display: flex;
		}
		h1,h2{
			text-align:center;
		}
		#button , #button2{
			background-color: #ddd;
			display: inline-block;
			padding: 0.4em 0.8em;
			margin-bottom: 1em;
		}
		#button:hover, #button2:hover{
			cursor: pointer;
		}
        div{
			min-height: 1em;
			width: 40%;
			padding: 0.3em;
			margin-left: auto;
			margin-right: auto;
		}
		.player1{
			background-color: lightblue;
		}
		.player2{
			background-color: lightsalmon;
		}
#calculate{
    background-color: gray;
}
#calculate a{
    color: white;
}